# Copiar como .env y completar los valores obligatorios antes del primer arranque.
INFONALIA_ADMIN_USER=
INFONALIA_ADMIN_PASSWORD=
INFONALIA_ADMIN_DISPLAY_NAME=Administracion
INFONALIA_ADMIN_EMAIL=
INFONALIA_REVIEWER_USER=
INFONALIA_REVIEWER_PASSWORD=
INFONALIA_REVIEWER_DISPLAY_NAME=Revision
INFONALIA_REVIEWER_EMAIL=
INFONALIA_ENABLE_ADMIN_ALIAS=0
INFONALIA_ADMIN_ALIAS_PASSWORD=
INFONALIA_HOST=127.0.0.1
INFONALIA_PORT=8787
LLANGON_PUBLIC_SITE_URL=https://llangon-web-publica-prueba.web.app/
LLANGON_RUNTIME_ROOT=
LLANGON_SQLITE_BACKUP_DIR=
LLANGON_SQLITE_BACKUP_RETENTION=30
INFONALIA_STORAGE_BACKEND=local
# En este equipo: LLANGON_DROPBOX_BASE_PATH=C:\Users\LLangon03\Dropbox\00000 LLANGON
LLANGON_DROPBOX_BASE_PATH=
INFONALIA_DROPBOX_ROOT=C:\ReplicaDb
INFONALIA_DOWNLOAD_STAGING_ROOT=.local_runtime/downloads
INFONALIA_MONITOR_YEAR_MIN=2000
INFONALIA_MONITOR_YEAR_MAX=2300
INFONALIA_DROPBOX_ENABLED=0
INFONALIA_DROPBOX_DRY_RUN=1
INFONALIA_DROPBOX_API_ROOT=/LlangonSuite
INFONALIA_DROPBOX_APP_KEY=
INFONALIA_DROPBOX_APP_SECRET=
INFONALIA_DROPBOX_REFRESH_TOKEN=
INFONALIA_DROPBOX_NON_DESTRUCTIVE=1
INFONALIA_PDFTOTEXT=
INFONALIA_PLATFORM_URL=
INFONALIA_SMTP_ENABLED=0
INFONALIA_SMTP_HOST=
INFONALIA_SMTP_PORT=587
INFONALIA_SMTP_USER=
INFONALIA_SMTP_PASSWORD=
INFONALIA_SMTP_FROM=
INFONALIA_AGENDA_EMAIL_TO=
INFONALIA_SEGUIMIENTO_EMAILS=
MONITOR_TEST_EMAIL=
INFONALIA_MONITOR_TEST_EMAIL=
MONITOR_AGENDA_PENDING_EMAIL_TO=info3@llangon.com,info@llangon.com
GEMINI_ENABLED=false
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.5-flash
GEMINI_MAX_REQUESTS_PER_MINUTE=2
GEMINI_MAX_REQUESTS_PER_DAY=20
GEMINI_COOLDOWN_ON_429_MINUTES=15
GEMINI_MAX_DOCUMENTS_PER_ANALYSIS=4
GEMINI_MAX_FILE_MB=45
GEMINI_TIMEOUT_SECONDS=120
MONITOR_SCHEDULER_ENABLED=0
MONITOR_SCHEDULER_TIMEZONE=Europe/Madrid
MONITOR_SCHEDULER_POLL_MINUTES=5
MONITOR_AGENDA_PENDING_DAILY_ENABLED=1
MONITOR_AGENDA_PENDING_DAILY_TIME=06:00
MONITOR_AGENDA_PENDING_DAILY_WEEKDAYS_ONLY=1
MONITOR_LICITACIONES_SCHEDULE_ENABLED=0
MONITOR_LICITACIONES_REAL_ENABLED=0
MONITOR_LICITACIONES_TIME_1=07:00
MONITOR_LICITACIONES_TIME_2=12:30
MONITOR_LICITACIONES_TIME_3=17:30
INFONALIA_SMTP_TLS=1
INFONALIA_SMTP_USE_TLS=1
INFONALIA_SMTP_SSL=0
INFONALIA_EMAIL_DRY_RUN=1
